{% extends "base.html" %}

{% block content %}
<div class="container">
        <form action="/input" method="POST">
            <div class="col-4">
                <div class="form-group">
                   <label>Process temperature [K]</label>
                    <input name="Process temperature" type="tel" class="form-control" required>
                </div>
              </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Torque [Nm]</label>
                    <input name="Torque" type="tel" class="form-control"  required>
                </div>
              </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Machine failure</label>
                    <input name="Machine failure" type="tel" class="form-control"  required>
                </div>
              </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Tool wear failure</label>
                    <input name="TWF" type="tel" class="form-control"  required>
                </div>
              </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Heat dissipation failure</label>
                    <input name="HDF" type="tel" class="form-control"  required>
                </div>
              </div>
            <div class="col-4">
                <div class="form-group">
                   <label>power failure</label>
                    <input name="PWF" type="tel" class="form-control"  required>
                </div>
              </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Overstrain failure</label>
                    <input name="OSF" type="tel" class="form-control"  required>
                </div>
              </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Random failures</label>
                    <input name="RNF" type="tel" class="form-control"  required>
                </div>
              </div>



            <input class="btn btn-primary" type="submit" value="Submit" style="height: 50px;margin-top: 22px;">
        </form>

</div>
{% endblock content %}