{% extends "base.html" %}

{% block content %}
<div class="container">
        <form action="/input" method="POST">
            <div class="col-4">
                <div class="form-group">
                   <label>Process temperature [K]</label>
                    <input name="Process temperature" type="tel" class="form-control" required>
                </div>
              </div>
            <div class="col-4">
                <div class="form-group">
                   <label>Heat dissipation failure</label>
                    <input name="HDF" type="tel" class="form-control"  required>
                </div>
              </div>
            <input class="btn btn-primary" type="submit" value="Submit" style="height: 50px;margin-top: 22px;">
        </form>

</div>
{% endblock content %}